@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: #fff;
    color: #000;
}

/* Фонова секція */
.hero {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 50px;
    overflow: hidden;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('IMG_1268.png') no-repeat center center/cover;
    filter: blur(8px);
    z-index: -1;
    opacity: 0.9;
}

/* Навігація */
header {
    background: rgba(0, 0, 0, 0.8);
    padding: 15px 0;
    text-align: center;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.menu li {
    margin: 0 20px;
}

.menu a {
    text-decoration: none;
    color: #FFD700;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.3s;
}

.menu a:hover {
    color: #fff;
}

/* Гамбургер меню */
.menu-icon {
    display: none;
    font-size: 30px;
    color: #FFD700;
    cursor: pointer;
    margin-right: 20px;
}

.menu.show {
    display: block;
}

.menu li {
    display: inline-block;
    margin: 10px 0;
}

.hero-text {
    max-width: 50%;
    color: #000;
    text-shadow: 3px 3px 5px rgba(255, 255, 255, 0.5);
}

.hero-text h1 {
    font-size: 65px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin: 0;
}

.hero-text p {
    font-size: 28px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

.hero-text::after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #FFD700;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

/* Картинка з книгою */
.book-image {
    max-width: 400px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.8);
    border: 5px solid #FFD700; /* Рамка навколо титульного зображення */
}

/* Мобільна адаптивність */
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
    }

    .hero-text {
        max-width: 100%;
        text-align: center;
    }

    .hero-image {
        margin-top: 30px;
    }

    .menu {
        display: none;
        flex-direction: column;
        text-align: center;
    }

    .menu.show {
        display: flex;
    }

    .menu li {
        margin: 10px 0;
    }

    .menu-icon {
        display: block;
    }

    .hero-text h1 {
        font-size: 50px;
    }

    .hero-text p {
        font-size: 20px;
    }
}
